
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">We are one kick assay company here for all your druggy needs.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<div class="col-lg-4">
    <div class="bs-co">

    </div>


</div>
<img src="~/Content/Images/labflasks.jpg" />


