
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1 class="display-3">Northwest Labs.</h1>
    <p class="lead">A bridge between your experiments and dreams.</p>
    <hr class="my-4">
    <p>For future clients, please visit our public site or request a quote. For current clients or employees, please sign in.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Request a Quote</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="img-responsive" style="height:200px" src="~/Content/Images/labflasks.jpg" />
    </div>
    <div class="col-md-8" style="text-align:justify; padding-top:20px">
        <p>Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis. 
        An assay analysis is a set of physical, chemical, atomic, and biological tests that are conducted on a chemical compound 
        or drug to determine its characteristics. These tests could include purely laboratory type tests and/or biological tests 
        on live animals. Northwest Labs markets to many different chemical and pharmaceutical companies needing analysis work 
        done on any number of different compounds and drugs. Northwest Labs is a global business with pharmaceutical labs in 
        Singapore and corporate offices located in Seattle. They have been very successful and are known by many large corporations 
        as leaders in pharmaceutical research and testing.</p>
    </div>
</div>
<div class="row" style="padding-top:20px">
    <div class="col-md-3" style="margin-right:10px">
        <img class="img-responsive center-block" style="height:100px" src="~/Content/Images/LogoMakr_509hfj.png" />
        <h3 class="text-center">Cutting-Edge Techonology</h3>
    </div>
    <div class="col-md-3" style="margin-right:10px">
        <img class="img-responsive center-block" style="height:100px" src="~/Content/Images/LogoMakr_3ctCGN.png" />
        <h3 class="text-center">Environmentally Responsible</h3>
    </div>
    <div class="col-md-3" style="margin-right:10px">
        <img class="img-responsive center-block" style="height:100px" src="~/Content/Images/LogoMakr_0GAO4i.png" />
        <h3 class="text-center">Expert Analysis and Support</h3>
    </div>
    <div class="col-md-2">
        <img class="img-responsive center-block" style="height:100px" src="~/Content/Images/LogoMakr_7v6sIg.png" />
        <h3 class="text-center">Trusted by Thousands</h3>
    </div>
</div>



